

<form method="post">
  <label>New Todo
    <input type="text" name="todo_item">
  </label><br>
<button type="submit">Create Todo</button>
</form>

<h1>Here's all the things to do:</h1>

<% @todo.each do |item| %>
<li><%= item.todo_item %></li>
<% end %>

